version: '2.1'
services:
  kong-database:
    image: cassandra:3
    container_name: kong-db
    volumes:
      - ./tmp/cassandra:/var/lib/cassandra
    healthcheck:
      test: ["CMD-SHELL", "[ $$(nodetool statusgossip) = running ]"]
      interval: 30s
      timeout: 30s
      retries: 3
    restart: on-failure
    environment:
      MAX_HEAP_SIZE: 256M # Need to restrict the heapsize or else Cassandra will OOM
      HEAP_NEWSIZE: 128M
    ports:
      - "9042:9042"
  kong:
    image: kong:latest
    container_name: kong
    command: kong start --run-migrations
    depends_on:
      kong-database:
        condition: service_healthy
    environment:
      - KONG_DATABASE=cassandra
      - KONG_PG_HOST=kong-database
      - KONG_PG_DATABASE=kong
      - KONG_ADMIN_LISTEN=0.0.0.0:8001    
      - KONG_CASSANDRA_CONTACT_POINTS=kong-database    
    ports:
      - "8000:8000"
      - "8001:8001"
      - "8443:8443"
      - "8444:8444"
    restart: on-failure
  konga-database:
    image: mysql:5
    container_name: konga-db
    volumes:
      - ./tmp/mysql_data:/var/lib/mysql
    environment:
      - MYSQL_DATABASE=konga
      - MYSQL_ROOT_PASSWORD=root
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      interval: 30s
      timeout: 20s
      retries: 10
    restart: on-failure
    ports:
      - "3316:3306"
  konga:
    image: pantsel/konga
    container_name: konga
    depends_on:
      konga-database:
        condition: service_healthy
    environment:
      - TOKEN_SECRET=asdfasdf
      - DB_ADAPTER=mysql
      - DB_HOST=konga-database
      - DB_PORT=3306
      - DB_USER=root
      - DB_PASSWORD=root
      - DB_DATABASE=konga
      - NODE_ENV=development
    ports:
      - "1337:1337"
    restart: on-failure
  of_user:
    build: ./of_user
    image: tpbmit/of_user
    container_name: of_user
    restart: on-failure
    volumes: 
      - ./of_user:/var/www/html
    ports:
      - "8100:80"
  of_user-db:
    image: mysql:5
    container_name: db_user
    environment:
      - MYSQL_DATABASE=user
      - MYSQL_ROOT_PASSWORD=root
    volumes:
      - ./tmp/mysql_of_user:/var/lib/mysql
    ports:
      - "3406:3306"

